<!-- EC2 resource added -->
<div id="ec2-configuration" class="modal hide fade in instance-config" style="display: none; ">  
  <div class="modal-header">  
    <a class="close" data-dismiss="modal">×</a>  
    <h3>EC2 instance configuration</h3>  
  </div>  
  <div class="modal-body">  
    <div id="ec2-config-error-messages"></div>
    <%= simple_form_for Instance.new, url: create_ec2_path  , remote: true, html: { id: 'ec2-config-frm'} do |f|%>
      <%= f.input :label %>
      <%= f.input :ami_id, label: 'AMI', collection: Ami.get_select_collection %>
      <%= f.hidden_field(:xpos, id: 'ec2_xpos')%>
      <%= f.hidden_field(:ypos, id: 'ec2_ypos')%>
  </div>  
  <div class="modal-footer">  
    <%= f.button :submit, 'Add instance', class: "btn btn-success instance-config-submit" %>
    <a href="#" class="btn" data-dismiss="modal">Close</a>  
  </div>  
    <% end %>
</div>  

<!-- RDS resource added Needs to be changed-->
<div id="rds-configuration" class="modal hide fade in" style="display: none; ">
  <div class="modal-header">  
    <a class="close" data-dismiss="modal">×</a>  
    <h3>RDS instance configuration</h3>
  </div>  
  <div class="modal-body">  
    <div id="rds-config-error-messages"></div>
    <%= simple_form_for Instance.new, url: create_rds_path  , remote: true, html: { id: 'rds-config-frm'} do |f|%>
      <%= f.input :label %>
      <%= f.hidden_field(:xpos, id: 'rds_xpos')%>
      <%= f.hidden_field(:ypos, id: 'rds_ypos')%>
  </div>
  <div class="modal-footer">
    <%= f.button :submit, 'Add instance', class: "btn btn-success instance-config-submit" %>
    <a href="#" class="btn" data-dismiss="modal">Close</a>  
  </div>
  <% end %>
</div>  
