<!-- Save Graph  -->
<div id="graph-save-modal" class="modal hide fade in" style="display: none; ">  
  <div class="modal-header">  
    <a class="close" data-dismiss="modal">×</a>  
    <h3>Save Graph</h3>  
  </div>  
  <div class="modal-body">  
    <div id="graph-save-error-messages"></div>
    <%= simple_form_for Graph.new, url: '/graphs'  , remote: true, html: { id: 'graph-save-frm'} do |f|%>
      <%= f.input :name, input_html: { id: 'graph-name'} %>
  </div>  
  <div class="modal-footer">  
    <%= f.button :submit, 'Save graph', class: "btn btn-success graph-save-submit" %>
    <a href="#" class="btn" data-dismiss="modal">Close</a>  
  </div>  
    <% end %>
</div>  

<!-- EC2 resource added -->
<div id="ec2-configuration" class="modal hide fade in instance-config" style="display: none; ">  
  <div class="modal-header">  
    <a class="close" data-dismiss="modal">×</a>  
    <h3>EC2 instance configuration</h3>  
  </div>  
  <div class="modal-body">  
    <div id="ec2-config-error-messages"></div>
    <%= simple_form_for Instance.new, url: '', html: { id: 'ec2-config-frm'} do |f|%>
      <%= f.input :label, input_html: { id: 'ec2_label', class: 'instance_label'} %>
      <%= f.input :ami_id, label: 'AMI', collection: Ami.get_select_collection, input_html: {id: 'ec2_ami_id'} %>
      <%= f.input :instance_type_id, label: 'Size', collection: InstanceType.get_select_collection, input_html: {id: 'ec2_instance_type_id'} %>
      <%= f.hidden_field(:xpos, id: 'ec2_xpos')%>
      <%= f.hidden_field(:ypos, id: 'ec2_ypos')%>
  </div>  
  <div class="modal-footer">  
    <%= f.button :submit, 'Apply', class: "btn btn-success instance-config-submit" %>
    <a href="#" class="btn" data-dismiss="modal">Close</a>  
  </div>  
    <% end %>
</div>  

<!-- RDS resource added Needs to be changed-->
<div id="rds-configuration" class="modal hide fade in" style="display: none; ">
  <div class="modal-header">  
    <a class="close" data-dismiss="modal">×</a>  
    <h3>RDS instance configuration</h3>
  </div>  
  <div class="modal-body">  
    <div id="rds-config-error-messages"></div>
    <%= simple_form_for Instance.new, url: '' , html: { id: 'rds-config-frm'} do |f|%>
      <%= f.input :label, input_html: { id: 'rds_label', class: 'instance_label'} %>
      <%= f.hidden_field(:xpos, id: 'rds_xpos')%>
      <%= f.hidden_field(:ypos, id: 'rds_ypos')%>
  </div>
  <div class="modal-footer">
    <%= f.button :submit, 'Apply', class: "btn btn-success instance-config-submit" %>
    <a href="#" class="btn" data-dismiss="modal">Close</a>  
  </div>
  <% end %>
</div>  
