<%= render 'edit_toolbar' %>
<div class="row">
  <%= render 'graph_draggables', resource_types: @resource_types %>
  <%= render 'graph_area' %>
  <%= render 'dialogs' %>
  <%= render 'instance_templates', resource_types: @resource_types %>
</div>
<script type="text/javascript">
  prepareStage();
  <% @graph.instances.each do |instance| %>
    var label = '<%= instance.label %>';
    var resourceType = '<%= instance.resource_type.name %>';
    var xpos = <%= instance.xpos %> ;
    var ypos = <%= instance.ypos %> ;
    var amiId = <%= instance.ami_id.nil? ? 'null' : instance.ami_id %>;
    var newInstance = addInstanceCloneToGraph({ left: xpos, top: ypos });
    newInstance.instance({xpos: xpos, ypos: ypos, label: label, resourceType: resourceType, amiId: amiId});
  <% end %>
</script>
