<%= render 'edit_toolbar' %>
<div class="row">
  <%= render 'graph_draggables', resource_types: @resource_types %>
  <%= render 'graph_area' %>
  <%= render 'dialogs' ,project: @project%>
  <%= render 'instance_templates', resource_types: @resource_types %>
</div>

<script type="text/javascript">
  prepareStage();
  var instances = {};
  <% @graph.instances.each do |instance| %>
    var label = '<%= instance.label %>';
    var resourceType = '<%= instance.resource_type.name %>';
    var xpos = <%= instance.xpos %> ;
    var ypos = <%= instance.ypos %> ;
    var parents = <%= instance.parents.collect(&:id) %> ;
    var instanceId= <%= instance.id %>
    var amiId = <%= instance.ami_id.nil? ? 'null' : instance.ami_id %>;
    var instanceType = <%= instance.instance_type_id.nil? ? 'null' : instance.instance_type_id %>;
    var configAttributes = JSON.parse('<%= instance.config_attributes.html_safe %>');
    var newInstance = addInstanceCloneToGraph({ left: xpos, top: ypos });
    newInstance.instance({xpos: xpos, ypos: ypos, label: label, resourceType: resourceType, amiId: amiId, InstanceType:instanceType, instanceId: instanceId,configAttributes:configAttributes});
    instances[instanceId] = { instance: newInstance, parents: parents };
  <% end %>
  //Loads saved connections
  jsPlumb.ready(function(){
    makeConnections(instances);
  });
</script>
