<%= simple_form_for(@project) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.input :name, input_html: { id: 'name'} %>
    <%= f.label :description %>
    <%= f.text_area :description, :rows=>5, :cols=>20 ,input_html: { id: 'description'} %>
    <%= f.input :repo_type, input_html: { id: 'repo_type'},:collection => ['Svn','Git'], :prompt => "Select repository" %>    
    <%= f.input :repo_url, input_html: { id: 'repo_url'} %>
    <%= f.input :repo_auth, input_html: { id: 'repo_auth'} %>
  </div>

  <div>
    <%= f.button :submit, 'Save Project' ,:class=>"btn"%>
  </div>
<% end %>
