<%= simple_form_for(@project) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.input :name, input_html: { id: 'name'} %>
    <%= f.label :description %>
    <%= f.text_area :description, :rows=>5, :cols=>20 ,input_html: { id: 'description'} %>
    <% if @environments.present? %>
      <label>Environments:</label>
      <div>
        <table class="table">
          <tr>
            <th>Environment Name</th>
          </tr>
          <%= f.fields_for :environments do |env| %>
            <tr>
              <td>
                <%=  env.input :name , :label => false ,:disabled=> true%>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    <%end%>
  </div>
  <div>
    <%= f.button :submit, 'Save Project' ,:class=>"btn btn-inverse"%>
  </div>
<% end %>
