<table class="table table-striped">
  <tr>
    <th style="text-align: center;width:150px;">Status</th>
    <th>Name</th>
    <th style="text-align: center;">Actions</th>
  </tr>
  <%if @environments.present? %>
    <% @environments.each do |environment| %>
      <tr>
        <td><%= render 'environment_status_icon', environment: environment %></td>
        <td><%= environment.name %></td>
        <td style="text-align: center;">
          <%= link_to 'Edit', edit_project_environment_path(@project,environment),:class=>'btn btn-inverse' %>&nbsp;&nbsp;&nbsp;&nbsp;
          <%= link_to 'Delete', project_environment_path(@project,environment),:class=>'btn btn-inverse', method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  <%else%>
    <tr>
      <td colspan="5">Sorry, No environments yet, in this project.</td>
    </tr>
  <%end%>
</table>
<%= render 'new_environment_modal' %>
