<div style="float:right;"><%= link_to 'All Projects', projects_path ,:class=>"btn btn-inverse"%></div>
<br/><br/>
<p id="notice"><%= notice %></p>
<div class="well">
  <div style="margin-left: 10px;">
<h3 class="pull-left"> <%= @project.name %></h3>&nbsp;&nbsp;
<%= link_to 'Edit', edit_project_path ,:class=>"btn btn-inverse" ,:style=>"float:none;margin-top:14px;"%>
<br /><br />
<div class="clear"></div>
  <div>
    <span style="display: inline-block;width: 115px;">Description</span>:
    &nbsp;&nbsp;<span><%= @project.description %></span>
  </div>
  <br/>
  <div>
    <span style="display: inline-block;width: 115px;">Repository Type</span>:
    &nbsp;&nbsp;<span><%= @project.repo_type %></span>
  </div>
  <br/>
  <div>
    <span style="display: inline-block;width: 115px;">Repository Path</span>:
    &nbsp;&nbsp;<span><%= @project.repo_url %></span>
  </div>
 </div>
</div>
<h4>Environments</h4>

<%= render 'project_environments' %>
