<div id="<%=resource_type%>-configuration" class="modal hide fade in instance-config" style="display: none; ">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>EC2 Instance configuration</h3>
  </div>
  <div class="modal-body">
    <div id="<%=resource_type%>-config-error-messages"></div>
    <%= simple_form_for Instance.new, url: '', html: { id: "#{resource_type}-config-frm"} do |f|%>
      <%= f.input :label, input_html: { id: "#{resource_type}_label", class: 'instance_label'} %>      
    <div id="<%=resource_type%>_instance_type_id" class="hide"></div>
    <label>Instance Type</label>      
      <div id="<%=resource_type%>-slider">
        <%= render 'slider' %>
      </div>      
      <br />
      <div id="<%=resource_type%>_ip_address"></div>
      <br />
      <div id="<%=resource_type%>_public_dns"></div>
      <%= hidden_field_tag :ami_id, Ami.first.id, :id => "#{resource_type}_ami_id"%>
      <%= hidden_field_tag "#{resource_type}_parents_list", ResourceType.find_by_name("Rails").parents_list, :id => "#{resource_type}_parents_list"%>
      <%= f.hidden_field(:xpos, id: "#{resource_type}_xpos")%>
      <%= f.hidden_field(:ypos, id: "#{resource_type}_ypos")%>
  </div>
  <div class="modal-footer">
    <%= f.button :submit, 'Apply', class: "btn btn-success instance-config-submit" %>
    <a href="#" class="btn btn-inverse" data-dismiss="modal">Close</a>
    <a class="btn btn-danger hide pull-left" data-dismiss="modal" id="<%=resource_type%>_delete" onclick='delete_instance("<%=resource_type%>");' title="Delete this resource">Delete</a>
  </div>
    <% end %>
</div>
