<div id="<%=resource_type.name%>-configuration" class="modal hide fade in instance-config" style="display: none; ">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3><%= resource_type.name %> Instance configuration</h3>
  </div>
  <div class="modal-body">
    <div id="<%=resource_type.name%>-config-error-messages"></div>
    <%= simple_form_for Instance.new, url: '', html: { id: "#{resource_type.name}-config-frm"} do |f|%>
      <%= f.input :label, input_html: { id: "#{resource_type.name}_label", class: 'instance_label'} %>
      <% if  resource_type.name == "Java"%>
      <p>Java Version</p>
        <%= select_tag "#{resource_type.name}_version" , options_for_select(["default","test"]), :include_blank => false %>
      <p>Tomcat Version</p>
        <%= select_tag "#{resource_type.name}_tomcat_version" , options_for_select(["default","test"]), :include_blank => false %>
      <%end%>
    <div id="<%=resource_type.name%>_instance_type_id" class="hide"></div>
    <label>Instance Type</label>
      <div id="<%=resource_type.name%>-slider" class="relative_position">
        <%= render 'slider' %>
      </div>
    <br />
    <p style="margin-top:25px;">Elastic IP</p>
    <div>
      <input type="radio"  name="<%= resource_type.name %>_elasticIp" id="<%= resource_type.name %>_elastic_ip_new" value="0" onclick = 'display_exist_elastic_ip_list("<%= resource_type.name %>",0);'>&nbsp;&nbsp;Create new</input>&nbsp;&nbsp;
      <input type="radio"  name="<%= resource_type.name %>_elasticIp" id="<%= resource_type.name %>_elastic_ip_list" value="1" onclick = 'display_exist_elastic_ip_list("<%= resource_type.name %>",1);'>&nbsp;&nbsp;Select from exist list</input>
    </div>
    <div class="hide" style="margin-top:10px;"><%= select_tag "#{resource_type.name}_elastic_ip_dropdown" , options_for_select(["default","test"]), :include_blank => false %></div>
    <br />
    <div id="<%=resource_type.name%>_ip_address"></div>
    <br />
    <div id="<%=resource_type.name%>_public_dns"></div>
      <%= hidden_field_tag "#{resource_type.name}_ip_address_value","", :id => "#{resource_type.name}_ip_address_value"%>
      <%= hidden_field_tag "#{resource_type.name}_public_dns_value","", :id => "#{resource_type.name}_public_dns_value"%>
      <%= hidden_field_tag :ami_id, Ami.first.id, :id => "#{resource_type.name}_ami_id"%>
      <%= hidden_field_tag "#{resource_type.name}_parents_list", resource_type.parents_list, :id => "#{resource_type.name}_parents_list"%>
      <%= f.hidden_field(:xpos, id: "#{resource_type.name}_xpos")%>
      <%= f.hidden_field(:ypos, id: "#{resource_type.name}_ypos")%>
  </div>
  <div class="modal-footer">
    <%= f.button :submit, 'Apply', class: "btn btn-success instance-config-submit" %>
    <a href="#" class="btn btn-inverse" data-dismiss="modal">Close</a>
    <a class="btn btn-danger hide pull-left" data-dismiss="modal" id="<%=resource_type.name%>_delete" onclick='delete_instance("<%=resource_type.name%>");' title="Delete this <%= resource_type.name %>resource">Delete</a>
  </div>
    <% end %>
</div>
