<div id="nginx-configuration" class="modal hide fade in instance-config" style="display: none; ">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Nginx instance configuration</h3>
  </div>
  <div class="modal-body">
    <div id="nginx-config-error-messages"></div>
    <%= simple_form_for Instance.new, url: '', html: { id: 'nginx-config-frm'} do |f|%>
      <%= f.input :label, input_html: { id: 'nginx_label', class: 'instance_label'} %>
      <%= f.input :instance_type_id, label: 'Size', collection: InstanceType.get_select_collection('EC2'), input_html: {id: 'nginx_instance_type_id'} %>
      <div id="nginx_ip_address"></div>
      <br />
      <div id="nginx_public_dns"></div>
      <%= hidden_field_tag :ami_id, Ami.first.id, :id => 'nginx_ami_id'%>
      <%= hidden_field_tag :nginx_parents_list, ResourceType.find_by_name("Nginx").parents_list, :id => 'nginx_parents_list'%>
      <%= f.hidden_field(:xpos, id: 'nginx_xpos')%>
      <%= f.hidden_field(:ypos, id: 'nginx_ypos')%>
  </div>
  <div class="modal-footer">
    <%= f.button :submit, 'Apply', class: "btn btn-success instance-config-submit" %>
    <a href="#" class="btn btn-inverse" data-dismiss="modal">Close</a>
    <a class="btn btn-danger hide pull-left" data-dismiss="modal" id="nginx_delete" onclick='delete_instance("nginx");' title="Delete the Nginx resource">Delete</a>
  </div>
    <% end %>
</div>
