<%= render 'edit_toolbar' %>
<div class="row">
  <%= render 'graph_draggables', resource_types: @resource_types %>
  <%= render 'graph_area' %>
  <%= render 'dialogs' ,project: @project%>
  <%= render 'instance_templates', resource_types: @resource_types %>
</div>

<script type="text/javascript">
  prepareStage();
  var instances = {};
  <% @environment.instances.each do |instance| %>
    var label = '<%= instance.label %>';
    var resourceType = '<%= instance.resource_type.name %>';
    var xpos = <%= instance.xpos %> ;
    var ypos = <%= instance.ypos %> ;
    var parents = <%= instance.parents.collect(&:id) %> ;
    var instanceId= <%= instance.id %>
    var instanceType = <%= instance.instance_type_id.nil? ? 'null' : instance.instance_type_id %>;
    var configAttributes = JSON.parse('<%= instance.config_attributes.html_safe %>');
    var status = '<%= instance.instance_status %>';
    var newInstance = addInstanceCloneToGraph(instanceId);
    newInstance.instance({xpos: xpos, ypos: ypos, label: label, resourceType: resourceType, InstanceType:instanceType, instanceId: instanceId,configAttributes:configAttributes, status: status});
    instances[instanceId] = { instance: newInstance, parents: parents,configAttributes:configAttributes };
  <% end %>
  //Loads saved connections
  jsPlumb.ready(function(){    
    makeNodes(instances);
    makeConnections(instances);
  });
  var ec2InstanceTypes = JSON.parse('<%= raw @ec2_instance_types.to_json %>');
  var rdsInstanceTypes = JSON.parse('<%= raw @rds_instance_types.to_json %>');
  var elastiCacheInstanceTypes = JSON.parse('<%= raw @elasticache_instance_types.to_json %>');
</script>
