<%= render 'toolbar' %>
<div class="row">
  <%= render 'graph_draggables', resource_types: @resource_types %>
  <%= render 'graph_area' %>
  <%= render 'dialogs' , project: @project %>
  <%= render 'instance_templates', resource_types: @resource_types %>
</div>
<script type="text/javascript">
  prepareStage();
$(document).ready(function(){
  $('input#graph-name').val('<%= params[:environment]['name'] %>');
  $('<option value="<%= params[:environment][:key_pair_name] %>"></option>').appendTo($('select#graph-key-pair-name'));
  $('<option value="<%= params[:environment][:security_group] %>"></option>').appendTo($('select#graph-security-group-name'));
  $('input#graph-region-id').val('<%= params[:environment]['region_id'] %>');
});
  var ec2InstanceTypes = JSON.parse('<%= raw @ec2_instance_types.to_json %>');
  var rdsInstanceTypes = JSON.parse('<%= raw @rds_instance_types.to_json %>');
</script>
